@import '~antd/dist/antd.css';
@import 'styles/header.css';
@import 'styles/content.css';
@import 'styles/footer.css';
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
p,div {
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
}

