.main-content {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 8vh auto;
  grid-template-areas: 
    "filter-area . search-area search-area search-area search-area"
    "filter-area results-area results-area results-area results-area results-area";
  min-height: 100vh;
  background-color: #D7F2BA;
  margin-top: 8vh;
  z-index: 9;
}

.main-search {
  grid-area: search-area;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 99;
  margin-top: 1em;
}
.icon-suffix {
  margin-right: 1em;
}
.main-filter {
  grid-area: filter-area;
  background-color: #fff;
  margin: 1em;
  padding: 1em;
  /*height: auto;*/
  width: 18%;
  position: fixed;

}
.main-filter-filter {
  margin-top: 1em;
}
.card-container {
  grid-area: results-area;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.card {
  z-index: 1;
  margin: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}

.order-buttons {
  width: 100%;
}

.card-add {
  font-size: 2em;
  padding: 0.2em;
  border-radius: 100%;
  position: relative;
  left: 3em;
  background-color: #fff;
  box-shadow: 0px 2px 5px #666;
  top: 1.2em;
  transition: all 0.3s
}
.card-add:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  cursor: pointer;
}
.card-image {
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}
.modal-add {
  display: flex;
}


.modal-img{
  width: 50%;
  border-radius: 25%;
  -webkit-filter: blur(100px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
}
.banner {
  display: flex;
  min-height: 82vh;
  background-color: #D7F2BA;
  margin-top: 8vh;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.dimension {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.dimension-button-group {
  /*padding-right: 0;*/
}
.dimension-button {
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
  font-size: 1em;
  padding: 0.2em;
}
.dimension-label {
  margin-right: 1em;
}

@media (max-width: 550px){
    .main-filter-container {
      display: grid !important;
      grid-template-columns: repeat(1,1fr) !important;
      grid-template-rows: auto auto !important;
      align-content: center !important;
      grid-template-areas: 
          "order" 
          "filter" !important;
      align-items: baseline !important;
      justify-self: center !important;
    }
}
@media (max-width: 1210px) {
  .main-content {
    position: static;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto 8vh auto;
    grid-template-areas: 
      "filter-area filter-area filter-area filter-area filter-area filter-area"
      "search-area search-area search-area search-area search-area search-area"
      "results-area results-area results-area results-area results-area results-area";
    min-height: 100vh;
    background-color: #D7F2BA;
    z-index: 9;
  }
  .main-filter {
    position: static !important;
    justify-self: center;
    width: 80% !important;
    grid-area: filter-area;

  }
  .main-filter-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    align-content: center;
    grid-template-areas: 
        "order filter";
    align-items: baseline;
    justify-self: center;
  }
  .main-filter-order {
    grid-area: order;
    width: 100%;
  }
  .main-filter-filter {
    grid-area: filter;
    width: 100%;
  }
  .card-container {
    margin:0;
    padding:0;
  }
  .card {
    z-index: 1;
    margin: 0.1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  }
  
  
  .main-search {
    grid-area: search-area;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-items: center;
    z-index: 99;
    margin-bottom: 1em;
  }
}