.menu-container {
	height: 8vh;
	padding-top: 1em;
	display: flex;
	justify-content: center;
	white-space: nowrap;
	width: 100% !important;
	overflow: auto !important;
	overflow-x: scroll !important;
}
.menu {
	border: 1px solid black;
}